<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.sneg.android.bug">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.CredentialsActivity"
            android:screenOrientation="landscape">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".credentials.auth.SignInFragment"
            android:screenOrientation="landscape" />
        <activity
            android:name=".credentials.registration.SignUpFragment"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.ScoreActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".credentials.profile.ProfileFragment"
            android:screenOrientation="landscape" />
        <activity
            android:name=".credentials.gameModes.GameModeFragment"
            android:screenOrientation="landscape" />
        <activity
            android:name=".BugPlacementPlayerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".BlindActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ServerSettingsFragment"
            android:screenOrientation="landscape" />
    </application>

</manifest>